#map {
    height: 100vh;
    cursor: crosshair;
}
.country-name,
.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
}

.hint {
    color: grey;
}
/*Titles*/
body{
    margin: 0;
    height: 100vh;
    background: url(mapamundi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body.start{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}
/*Start page*/
.intro{
    cursor: pointer;
    padding: 8vmin;
    background-color: white;
    border-radius: 25vmin;
    box-shadow: 0 0 5vmin 0 #7e7e7e;
    align-items: center;
}
.intro>h1{
    color: green;
    font-weight: bold;
}

/*Game*/
.question{
    width: 50vw;
    position: absolute;
    left: 25vw;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
    box-shadow: 0 0 2vmin 0 #7e7e7e;
    z-index: 800;
}
h3{
    margin: 0;
    padding: 0.3em .5em;
}
button{
    cursor: pointer;
    font-size: initial;
    text-decoration: underline;
    background-color: inherit;
    border-style: none;
    padding: 0;
}
