#map {
    height: 95vh;
    cursor: crosshair;
}
.country-name,
.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
}

.hint {
    color: grey;
}
/*Titles*/
body{
    margin: 0;
    height: 100vh;
    background: url(mapamundi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}
/*Start page*/
.intro{
    cursor: pointer;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    right: 25%;
    border-radius: 25vmin;
    background-color: white;
    box-shadow: 0 0 5vmin 0 #7e7e7e;
}
.intro>h1{
    position: absolute;
    top: 25%;
    left: 10%;
    height: 25%;
    width: 80%;
}.intro>h2{
    position: absolute;
    top: 50%;
    left: 10%;
    height: 25%;
    width: 80%;
}
/*temp
body>div:first-of-type{
    display: none;
} /*end temp*/
/*Game*/
.question{
    height: 5vh;
    background-color: #d4dadc;
}
h3{
    margin: 0;
    padding-top: 1vh;
}
button{
    cursor: pointer;
    font-size: initial;
    text-decoration: underline;
    background-color: inherit;
    border-style: none;
    padding: 0;
}
