#map {
    height: 100vh;
    cursor: crosshair;
}
.leaflet-interactive {
    cursor: crosshair;
}
.country-name,
.correct {
    color: darkviolet;
    font-weight: bold;
}

.incorrect {
    color: orangered;
}

.hint {
    color: grey;
}
/*Titles*/
body{
    margin: 0;
    height: 100vh;
    background: url(mapamundi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;

}
body.start{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Start page*/
.intro{
    cursor: pointer;
    padding: 8vmin;
    background-color: white;
    border-radius: 25vmin;
    box-shadow: 0 0 5vmin 0 #7e7e7e;
    align-items: center;
}
.intro>h1{
    color: darkviolet;
    font-weight: bold;
}

/*Game*/
.question{
    width: 50vw;
    position: absolute;
    left: 25vw;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
    box-shadow: 0 0 2vmin 0 #7e7e7e;
    z-index: 800;
}
h3{
    margin: 0;
    padding: 0.3em .5em;
}
button{
    cursor: pointer;
    font-size: initial;
    background-color: darkviolet;
    color: white;
    border-style: none;
    border-radius: .3em;
    padding: .1em .4em .2em;
}
.score{
    position: absolute;
    right: 6vmin;
    top: 3vmin;
    z-index: 800;
}
@media screen and (max-width:768px) {
    .score{
        right: .75vmin;
        top: 78vh;
     }
}
table{
    background-color: white;
    box-shadow: 0 0 2vmin 0 #7e7e7e;
    border-radius: 1em;
    text-align: center;
    border-collapse: collapse;
}
th{
    font-weight: normal;
    font-size: smaller;
    padding: .5em;
}
td{
    font-weight: bold;
    font-size: larger;
    padding: 0 .5em .5em;
}
th:first-child,
td:first-child{
    color: darkviolet;
    border-right: .5px solid #ddd;
}
th:nth-child(2),
td:nth-child(2){
    color: orangered;
}
th:last-child,
td:last-child{
    color: gray;
    border-left: .5px solid #ddd;
}
/*Challenge List*/
nav{
    margin-bottom: 1em;
}
nav>a{
    text-decoration: none;
    color: darkviolet;
    padding: .1em .2em;
}
nav>a:hover{
    background-color: darkviolet;
    color: white;
    border-radius: .1em;

    border-style: none;
    border-radius: .3em;
    padding: .1em .2em;
}